<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; </strong>2018 <strong>Soumitra Dutta Inc</strong>. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
