.label {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.1em;
}
.cat-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #000000;
}

@media screen and (max-width: 767px){
  .drop-down {
    padding: 10px 0px;
  }
  .label {
    margin-bottom: 0.1rem;
  }
}

