.navbar-item.brand-name {
  font-size: 1.6rem;
}
.navbar-burger {
  border: none;
  color: #030303;
  border-radius: 0px;
  span {
    font-weight: bold;
  }
}

.navbar-item {
  font-weight: bold;
  &:hover {
    background: transparent;
    color: #030303;
  }
}
.profile-img {
 padding: 0px 10px;
}

.navbar-item img {
  width: 250px;
}

@media screen and (max-width: 767px){
  .navbar-item {
    text-align: center;
    &:hover {
      color: #003048;
    }
  }
}

