<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="../../assets/icons/logo/logo.png" alt="logo">
      </a>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <!--<a class="navbar-item"><img [src]="user.photoUrl" class="profile-img" alt="">{{user.displayName}}</a>-->
        <a class="navbar-item" (click)="showQuestionnaire()">Digital Readiness Index</a>
        <a class="navbar-item" *ngIf="!auth.authenticated" routerLink="/login">Log In</a>
        <a class="navbar-item" *ngIf="auth.authenticated" (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
</nav>
