<section>
  <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="box verify-email-box">
            <div class="email-header is-flex">
              <figure class="image is-128x128">
                <img src="../../../assets/icons/successful-icon.png">
              </figure>
              <span class="main-title">Congratulations!</span>
            </div>
            <div class="verify-msg">
              <p>You have successfully registered to Digital Strategy Institute</p>
              <a class="button is-primary proceed" routerLink="/user/profile/section1">Proceed to Digital Readiness Index</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
