<app-heading [title]="title"></app-heading>
<section>
  <div class="container">
    <div class="column">
      <div class="column is-12">
        <div class="box is-flex">
          <div style="padding-right: 15px">
            <figure class="image is-32x32">
              <img src="../../../assets/icons/notification.png">
            </figure>
          </div>
          <p>
            This is a simple questionnaire to evaluate the readiness of your firm to face the digital revolution. Your
            responses will not be identified and shared with others. So please answer honestly to each of the
            questions, to the best of your knowledge.
          </p>
        </div>
        <div class="box" *ngFor="let q of questionList; index as i">
          <p class="q-title">
            {{i + 1}}. {{q.question}}
          </p>
          <div class="option-wrapper">
            <span class="note">1 = {{q.option1}}</span>
            <span class="note">5 = {{q.option5}}</span>
            <div class="columns option-raw">
              <div class="column is-2 option-col" *ngFor="let count of loopCount">
                <div class="field">
                  <input class="is-checkradio" id="option{{i +''+ count}}" type="radio" name="optionAnswer{{i}}" [(ngModel)]="questionnaireAnswers['ans' + (i+1)]" [value]="count">
                  <label for="option{{i +''+ count}}">{{ count }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button class="button is-primary is-rounded" (click)="goToSection1()">Back</button>
      <button class="button is-primary is-rounded" (click)="goToAnalyze()" [disabled]="!isDataValid()">Submit</button>
    </div>
  </div>
</section>
