.q-title {
  margin-bottom: 5px;
  color: #3187b1;
  font-size: 1.2rem;
  font-weight: 500;
}
.column {
  padding: 0.5rem;
}
.button {
  margin: 1.2rem 0;
  width: 100px;
}
.option-wrapper {
  padding: 10px 40px;
  span.note {
    display: block;
  }
}
.notification {
  color: #4a4a4a;
}
.option-range {
  padding: 20px 0px;
  margin-top: 10px;
}
.option-slider {
  width: 100%;
  margin: 5px;
}

.asRange {
  width: 100%;
}

.option-raw {
  margin-top: 10px;
}
.option-col {
  width: 20%;
}

@media screen and (max-width: 767px){
  .option-wrapper {
    padding: 10px 0px;
  }
}
