.graph-header {
  padding: 15px 20px;
}
.graph-title {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 0px;
  margin-bottom: -20px;
}
.rate-title {
  font-weight: 500;
}
.toolbar {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}
.view-type {
  cursor: pointer;
  border: 1px solid #3e7792;
  user-select: none;
  font-size: 0.9rem;
  &:first-child {
    //border-top-left-radius: 40px 30px;
    //border-bottom-left-radius: 40px 30px;
    padding: 5px 10px;
  }
  &:last-child {
    //border-top-right-radius: 40px 30px;
    //border-bottom-right-radius: 40px 30px;
    padding: 5px 10px;
    margin-left: -5px;
  }
  &.active {
    background: #3e7792;
    color: #ffffff;
  }
}
.chart-view {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.data-view {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.tip {
  display: block;
  padding: 10px 0px;
  font-size: 0.9rem;
}
.print, .email {
  color: #bdbdbd;
  cursor: pointer;
  &:hover {
    color: #030303;
  }
}
.title-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rate {
  margin-left: 5px;
  padding: 2px 8px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  &.my-score {
    background: #fc002c;
  }
  &.all {
    background: #46e6f2;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
thead {
  background-color: #3e7792;
  th {
    color: #ffffff;
  }
}

.my-score-legend, .all-score-legend {
  font-size: 0.9rem;
}

.my-score-legend-color {
  width: 30px;
  margin-right: 5px;
  border-bottom: 4px solid #fc002c;
}

.all-score-legend-color {
  width: 30px;
  margin-right: 5px;
  border-bottom: 4px solid #46e6f2;
}


@media screen and (max-width: 767px){

}
