<app-heading [title]="title"></app-heading>

<section>
  <div class="container">
    <app-compare-with-colleagues
      [myScore]="myScore"
      [allScore]="allScore">
    </app-compare-with-colleagues>
    <app-market-insights
      [myScore]="myScore"
      [allScore]="allScore"
      [geoList]="geoList"
      [sectorList]="sectorList"
      [revenueList]="revenueList"
      [employeeList]="employeeList"
    >
    </app-market-insights>

    <div style="text-align: center; margin: 20px 0px">
      <a class="button is-primary is-rounded" routerLink="/user/profile/section1">View/Edit Responses</a>
    </div>
  </div>
</section>
