<section>
  <div class="container">
    <div class="columns">
      <div class="column is-4 login-column is-offset-4">
        <div class="box signup-box">
          <a class="button is-fullwidth is-rounded login-link" routerLink="/login">Already have an account? Login</a>
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="signup-header is-flex">
              <figure class="image is-128x128">
                <img src="../../../assets/icons/signup-icon.png">
              </figure>
              <span class="main-title">Sign up</span>
            </div>
            <div class="field">
              <label class="label">First Name</label>
              <div class="control has-icons-left">
                <input class="input" type="text" formControlName="firstName" appElementFocus>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <div *ngIf="firstNameCtrl.touched && firstNameCtrl.hasError('required')">
                <p class="help is-danger">First name is required</p>
              </div>
            </div>
            <div class="field">
              <label class="label">Last Name</label>
              <div class="control has-icons-left">
                <input class="input" type="text" formControlName="lastName">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <div *ngIf="lastNameCtrl.touched && lastNameCtrl.hasError('required')">
                <p class="help is-danger">Last name is required</p>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" formControlName="email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                <p class="help is-danger">Email is required</p>
              </div>
              <div *ngIf="emailCtrl.value && emailCtrl.touched && emailCtrl.hasError('email')">
                <p class="help is-danger">Email is incorrect</p>
              </div>
            </div>
            <!--<div class="field">-->
              <!--<label class="label">Password</label>-->
              <!--<div class="control has-icons-left">-->
                <!--<input class="input" type="password" formControlName="password">-->
                <!--<span class="icon is-small is-left">-->
                  <!--<i class="fas fa-lock"></i>-->
                <!--</span>-->
              <!--</div>-->
              <!--<div *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">-->
                <!--<p class="help is-danger">Password is required</p>-->
              <!--</div>-->
            <!--</div>-->
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input password" formControlName="password" [type]="togglePassword ? 'text' : 'password'" >
                <a class="eye" (click)="togglePassword = !togglePassword">
                  <span><i class="fas" [ngClass]="{'fa-eye-slash': togglePassword, 'fa-eye': !togglePassword }"></i></span>
                </a>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
                <div *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                  <p class="help is-danger">Password is required</p>
                </div>
              <div *ngIf="passwordCtrl.touched && passwordCtrl.hasError('minlength')">
                <p class="help is-danger">The password should consist of at least 6 characters</p>
              </div>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" formControlName="confirmPassword">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <div *ngIf="confirmPwdCtrl.touched && confirmPwdCtrl.hasError('required')">
                  <p class="help is-danger">Please confirm password</p>
                </div>
                <div *ngIf="!confirmPwdCtrl.hasError('required') && signUpForm.hasError('mismatch')">
                  <p class="help is-danger">Passwords do not match</p>
                </div>
              </div>
              <div class="notification is-badge-warning" *ngIf="emailAlreadyInUsed">
                <span><i class="fas fa-exclamation-triangle"></i></span> This email address already in use.
              </div>
              <button class="button is-primary is-fullwidth" type="submit" [disabled]="signUpForm.invalid" [class.is-loading]="loading">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
