.signup-box {
  position: relative;
  top: 50px;
  margin-bottom: 5rem;
  padding: 25px;
}

.signup-header {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  span {
    display: block;
    &.main-title {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
}

.login-link {
  color: #ffffff;
  background-color: #00b39f;
  border: none;
}

.header-title {
  text-align: center;
}

input.password {
  position: relative;
  padding-right: 2rem;
}
a.eye {
  position: absolute;
  right: 10px;
  top: 8px;
  display: block;
  color: #494949;
}
