.home-container {
  min-height: 100vh;
  background-image: url("../assets/icons/bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-button {
  position: relative;
  top: 100px;
  background: #3187b1;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 30px;
  color: #ffffff;
}
