<section>
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="box not-found-box">
          <div class="img-header is-flex">
            <figure class="image">
              <img src="../../../assets/icons/404.png">
            </figure>
            <span class="main-title">OOPS!</span>
            <p>The page you requested could not be found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
