.not-found-box {
  position: relative;
  top: 50px;
}

.img-header {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  span {
    display: block;
    &.main-title {
      font-size: 1.7rem;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
}

img {
  width: 256px;
}
