<section>
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="box reset-pw-box" *ngIf="!emailSent">
          <span class="main-title">Forgot your password?</span>
          <span>We can send you a reset link</span>
          <form class="form-content" (ngSubmit)="sendPasswordResetLink()">
            <input class="input" type="email" name="email" placeholder="Enter your email" [(ngModel)]="email" appElementFocus>
            <button type="submit" class="button is-primary" [class.is-loading]="isLoading">Send</button>
          </form>
          <span *ngIf="notification" class="alert-msg">{{ notification }}</span>
        </div>
        <div class="box notify-success" *ngIf="emailSent">
          <p>Reset email successfully sent, please check your email</p>
          <a class="button is-primary" routerLink="/home">Ok</a>
        </div>
      </div>
    </div>
  </div>
</section>
