.reset-pw-box {
  text-align: center;
  margin: 75px 0px;
  min-height: 200px;
}
.box-header {
  flex-direction: column;
}
.main-title {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
}
.form-content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.form-content .input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}
.form-content .button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.alert-msg {
  color: red;
  display: block;
  font-size: 0.7rem;
  text-align: left;
  padding: 5px;
}
.notify-success {
  text-align: center;
  margin: 75px 0px;
  .button {
    width: 100px;
    margin-top: 1rem;
  }
}
