<div class="columns">
  <div class="column is-12">
    <div class="graph-header">
      <span class="graph-title">My Score</span>
    </div>
      <div class="box" id="myScore">
        <div class="columns">
          <div class="column is-6 has-text-centered-mobile"><span class="rate-title">My Digital Readiness Index Score</span><span class="rate my-score">{{ myScoreAvg | number: '1.1-1' }}</span></div>
          <div class="column is-6 has-text-right has-text-centered-mobile"><span class="rate-title">Population Digital Readiness Index Score</span><span class="rate all">{{ allScoreAvg | number: '1.1-1' }}</span></div>
        </div>
        <div class="level toolbar">
          <div class="level-left">
            <div class="level-item my-score-legend">
                <span class="my-score-legend-color"></span><span>My Score</span>
            </div>
            <div class="level-item all-score-legend">
              <span class="all-score-legend-color"></span><span>Overall Score</span>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <span class="view-type chart-view" [class.active]="chartViewActive" (click)="showChartView()">Chart View</span>
              <span class="view-type data-view" [class.active]="dataViewActive" (click)="showDataView()">Data View</span>
            </div>
          </div>
        </div>
        <div class="columns" [class.hide]="dataViewActive">
          <div class="column is-6 is-offset-3">
            <canvas id="groupScore" width="100" height="100"></canvas>
          </div>
        </div>
        <div class="columns" [class.hide]="chartViewActive" style="margin-top: 25px">
          <div class="column is-8 is-offset-2">
            <table class="table is-bordered is-striped is-fullwidth">
              <thead>
              <tr>
                <th>Dimension</th>
                <th>My Score</th>
                <th>Overall Score</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Vision</th>
                <td>{{ myScore[0] }}</td>
                <td>{{ allScore[0] }}</td>
              </tr>
              <tr>
                <th>Culture</th>
                <td>{{ myScore[1] }}</td>
                <td>{{ allScore[1]}}</td>
              </tr>
              <tr>
                <th>Platform</th>
                <td>{{ myScore[2] }}</td>
                <td>{{ allScore[2] }}</td>
              </tr>
              <tr>
                <th>Process</th>
                <td>{{ myScore[3] }}</td>
                <td>{{ allScore[3] }}</td>
              </tr>
              <tr>
                <th>Ecosystem</th>
                <td>{{ myScore[4] }}</td>
                <td>{{ allScore[4] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="level is-mobile">
          <div class="level-left">
          </div>
          <div class="level-right">
            <span class="level-item print" (click)="printGraph('myScore')"><i class="fa fa-print" aria-hidden="true"></i></span>
            <!--<span class="level-item email" (click)="sendEmail('myScore')"><i class="fa fa-envelope" aria-hidden="true"></i></span>-->
          </div>
        </div>
      </div>
  </div>
</div>
