<app-heading [title]="title"></app-heading>
<section>
  <div class="container">
    <div class="box code-container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="field">
            <label class="label">Please enter the code specified by your instructor</label>
            <div class="control">
              <input class="input is-medium" name="classCode" type="text" [(ngModel)]="classCode" #code="ngModel" required>
            </div>
          </div>
          <div style="text-align: center">
            <button class="button is-primary is-rounded" [disabled]="code.invalid" (click)="goToSectionOne()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
