<app-heading [title]="title"></app-heading>
<section>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="box">
          <p class="q-title firm-name">
            Name of Firm
          </p>
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" name="nameOfForm" [(ngModel)]="profileAnswers.firmName" appElementFocus>
            </div>
            <!--<div>
              <p class="help is-danger">Please enter the name of your firm</p>
            </div>-->
          </div>
        </div>
        <!--{{profileAnswers | json}}-->
        <div class="box">
          <p class="q-title">
            1. The geographical home for my firm is:
          </p>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of countryList | slice:0:4">
              <div class="field">
                <input class="is-checkradio" id="geolocation{{option.id}}" type="radio" name="geolocation" [(ngModel)]="profileAnswers.ans1" [value]="option.id">
                <label for="geolocation{{option.id}}"> {{option.name}} </label>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of countryList | slice:4:8">
              <div class="field">
                <input class="is-checkradio" id="geolocation{{option.id}}" type="radio" name="geolocation" [(ngModel)]="profileAnswers.ans1" [value]="option.id">
                <label for="geolocation{{option.id}}"> {{option.name}} </label>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of countryList | slice:8:12">
              <div class="field">
                <input class="is-checkradio" id="geolocation{{option.id}}" type="radio" name="geolocation" [(ngModel)]="profileAnswers.ans1" [value]="option.id">
                <label for="geolocation{{option.id}}"> {{option.name}} </label>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of countryList | slice:12:14">
              <div class="field">
                <input class="is-checkradio" id="geolocation{{option.id}}" type="radio" name="geolocation" [(ngModel)]="profileAnswers.ans1" [value]="option.id">
                <label for="geolocation{{option.id}}"> {{option.name}} </label>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <p class="q-title">
            2. My firm operates primarily in the following sector:
          </p>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of sectorList | slice:0:4">
              <div class="field">
                <input class="is-checkradio" id="sector{{option.id}}" type="radio" name="section" [(ngModel)]="profileAnswers.ans2" [value]="option.id">
                <label for="sector{{option.id}}">{{option.name}}</label>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of sectorList | slice:4:8">
              <div class="field">
                <input class="is-checkradio" id="sector{{option.id}}" type="radio" name="section" [(ngModel)]="profileAnswers.ans2" [value]="option.id">
                <label for="sector{{option.id}}">{{option.name}}</label>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of sectorList | slice:8:12">
              <div class="field">
                <input class="is-checkradio" id="sector{{option.id}}" type="radio" name="section" [(ngModel)]="profileAnswers.ans2" [value]="option.id">
                <label for="sector{{option.id}}">{{option.name}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <p class="q-title">
            3. The total annual revenues of my firm is US Dollar millions(m) and billions (b):
          </p>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of revenueList">
              <div class="field">
                <input class="is-checkradio" id="revenue{{option.id}}" type="radio" name="revenue" [(ngModel)]="profileAnswers.ans3" [value]="option.id">
                <label for="revenue{{option.id}}">{{option.value}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <p class="q-title">
            4. The total number of employees in my firm is approximately:
          </p>
          <div class="columns">
            <div class="column is-3" *ngFor="let option of employeeCountList">
              <div class="field">
                <input class="is-checkradio" id="employeeCount{{option.id}}" type="radio" name="employeeCount" [(ngModel)]="profileAnswers.ans4" [value]="option.id">
                <label for="employeeCount{{option.id}}">{{option.count}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button class="button is-primary is-rounded" (click)="goToSectionTwo()" [disabled]="!isDataValid()">Next</button>
    </div>
  </div>
</section>




