
.q-title {
  margin-bottom: 25px;
  color: #3187b1;
  font-size: 1.2rem;
  font-weight: 500;
}
.column {
  padding: 0.5rem;
}
.button {
  margin: 1.2rem 0;
  width: 100px;
}
.firm-name {
  margin-bottom: 0.5rem;
}
