span {
  display: block;
  &.head-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
.page-heading {
  padding: 20px 20px;
  background-color: #08608e;
  color: #ffffff;
  margin-bottom: 1rem;
}
