.verify-email-box {
  text-align: center;
  margin: 75px 0px;
  padding: 100px 0px;
}

.email-header {
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin-top: 40px;
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
}

.verify-msg {
  margin-top: 10px;
}

.signin-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
}
