<section>
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="box verify-email-box">
          <div class="email-header is-flex">
            <figure class="image is-128x128">
              <img src="../../../assets/icons/succussful-icon.png">
            </figure>
            <span class="main-title">Congratulations!</span>
          </div>
          <div class="verify-msg">
            <p>You have successfully verified your <br>email address</p>
          </div>
          <a class="button is-primary signin-btn" routerLink="/login">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</section>
