@charset "utf-8";
//@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,600,700');
//@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/CircularStd-Bold.woff') format('woff');
}

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$family-serif: 'Circular Std Book',
sans-serif;
$family-primary: $family-serif;

$yellow: #fcc12d;
$primary: $yellow;

@import "../node_modules/bulma/sass/utilities/derived-variables";
@import "../node_modules/bulma/sass/utilities/animations";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma/sass/utilities/controls";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

@import '../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio';

html {
  background: #f4f5f5;
}

.app-spinner-content {
  position: fixed;
  background-color: #08608E;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
}

.app-spinner {
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  top: 45%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #08608E;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.input,
.textarea {
  box-shadow: none;
}

.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
  border: 2px solid $yellow;
  box-shadow: none;
}

.label {
  font-size: 0.9rem;
  font-weight: normal;
}

.highlight {
  color: $yellow;
}

.box {
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.button.is-active {
  outline: none;
  border-color: transparent;
}

@media screen and (max-width: 1023px) {
  .columns {
    margin-right: 0;
    margin-left: 0;
  }

  .column {
    padding-right: 0;
    padding-left: 0;
  }
}
