.login-box {
  position: relative;
  top: 50px;
  margin-bottom: 5rem;
  padding: 25px;
}

.login-header {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  span {
    display: block;
    &.main-title {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
}

.signup-link {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  a {
    font-weight: bold;
  }
}
.forgot-password-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

input.password {
  position: relative;
  padding-right: 2rem;
}
a.eye {
  position: absolute;
  right: 12px;
  top: 7px;
  display: block;
  color: #494949;
}

.header-title {
  text-align: center;
}

.notification {
  padding: 10px;
}

