<section>
  <div class="container">
    <div class="columns">
      <div class="column is-4 login-column is-offset-4">
        <div class="box login-box">
          <!--<div class="header-title">-->
            <!--<h4 class="title is-4">Digital Strategy Institute</h4>-->
          <!--</div>-->
          <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="login-header is-flex">
              <figure class="image is-128x128">
                <img src="../../../assets/icons/login.png">
              </figure>
              <span class="main-title">Sign in</span>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" formControlName="email" appElementFocus>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                <p class="help is-danger">Email is required</p>
              </div>
              <div *ngIf="emailCtrl.value && emailCtrl.touched && emailCtrl.hasError('email')">
                <p class="help is-danger">Email is incorrect</p>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input password " formControlName="password" [type]="togglePassword ? 'text' : 'password'" >
                <a class="eye" (click)="togglePassword = !togglePassword">
                  <span><i class="fas" [ngClass]="{'fa-eye-slash': togglePassword, 'fa-eye': !togglePassword }"></i></span>
                </a>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <div *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                <p class="help is-danger">Password is required</p>
              </div>
            </div>
            <div class="notification is-badge-warning" *ngIf="invalidUnOrPw">
              <span><i class="fas fa-exclamation-triangle"></i></span> Invalid <strong>Email</strong> or <strong>Password</strong>
            </div>
            <div class="notification is-badge-warning" *ngIf="emailNotVerified">
              <span><i class="fas fa-exclamation-triangle"></i></span> Please verify your email address
            </div>
            <div class="notification is-badge-warning" *ngIf="noUserWithEmail">
              <span><i class="fas fa-exclamation-triangle"></i></span> This email is not registered
            </div>
            <button class="button is-primary is-fullwidth" [class.is-loading]="loading" [disabled]="signInForm.invalid" type="submit">Login</button>
          </form>
          <div class="signup-link">
            <span>Don't have an account?</span><span><a class="highlight" routerLink="/signup"> Sign up here</a></span>
          </div>
          <div class="forgot-password-link">
            <a routerLink="/reset-password">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
